# Homework 5 - Explore California and Nevada with graphs

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
import numpy
import gzip

## 1. Data collection

In [3]:
coord = pd.read_csv('USA-road-c.CAL.co', sep = ',', delimiter = " ",
                      index_col = None, usecols = None, encoding = 'ISO-8859-1')  # we read the input file

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
coord.drop(columns=['c','Challenge:','Shortest','Paths'], inplace = True) # drop all the information useless

In [5]:
coord.rename(columns={'9th':'idx','DIMACS':"Longitude",'Implementation':"Latitude"},inplace = True) 
#rename the columns

In [6]:
coord.drop(coord.index[:6], inplace=True) #the first 6 columns are not information about the node

In [7]:
coord

             idx   Longitude  Latitude
6              1  -114315309  34133550
7              2  -114223946  34176221
8              3  -114307299  34148791
9              4  -114318765  34138889
10             5  -114347300  34042614
...          ...         ...       ...
1890816  1890811  -114010850  37121318
1890817  1890812  -114027219  37120524
1890818  1890813  -114022545  37121222
1890819  1890814  -114038688  37087748
1890820  1890815  -114044202  37085432

[1890815 rows x 3 columns]

In [8]:
G = nx.Graph() # create the graph

In [9]:
# create all the node, with two attributes, latitude and longitute
for long in coord.iterrows():
   #print(long)
    l = list(long[1])
    idx = int(long[0])
    lat = int(l[1])
    long = -int(l[2])
    G.add_node(idx,latitude = lat, longitude = long)

In [10]:
# now inport the time_distance file and create a dataframe
time = pd.read_csv("USA-road-t.CAL.gr",sep = ',',skiprows = 7, delimiter=" ",names = ['char','N_1','N_2','time'])

In [11]:
time.drop(columns=['char'],inplace = True)

In [13]:
# now inport the physical_distance  file and create a dataframe

dist = pd.read_csv("USA-road-d.CAL.gr",sep = ',',skiprows = 7, delimiter=" ",names = ['char','N_1','N_2','dist'])

In [14]:
dist.drop(columns=['char'],inplace = True)

In [16]:
final = dist.merge(time, on = ["N_1","N_2"])

In [23]:
final.shape

(4712818, 4)

In [27]:
l = [1 for n in range(4712818)]

In [28]:
final['netkork']=l

In [29]:
final

             N_1      N_2  dist   time  netkork
0              1  1048577   456   1139        1
1        1048577        1   456   1139        1
2              2  1048578  2389   5972        1
3        1048578        2  2389   5972        1
4              3  1048579   358    895        1
...          ...      ...   ...    ...      ...
4712813  1890815  1048576  5642  14105        1
4712814   989247  1048576  3212   8030        1
4712815  1048576   989247  3212   8030        1
4712816  1048572  1890810  7230  18076        1
4712817  1890810  1048572  7230  18076        1

[4712818 rows x 5 columns]

In [30]:
for idx in final.iterrows():
    l = list(idx[1])
    source = int(l[0])
    dest = int(l[1])
    di = int(l[2])
    ti = int(l[3])
    ni = int(l[4])
    
    G.add_edge(source,dest,time = ti, dist = di, net=ni)

# Functionality 1 - Find the Neighbours!

In [31]:
def nodes_in_range(start, max_d, d_type):
    """
    Basic function that gets all the nodes that are within the max_d distance from the start node
    :param start: starting node
    :param max_d: maximum distance allowed
    :return: list of found nodes
    """
    return nodes_in_range_util(start, 0, max_d, max_d, [start], d_type)

def nodes_in_range_util(node, i, max_d, current_d, res,dist_type):
    """
    Recursive helper function for the nodes_in_range function

    :param node: current node
    :param i: current index
    :param max_d: maximum distance
    :param current_d: current 'walkable' distance
    :param res: nodes found
    :return: list of found nodes
    """
    # If the current index is greater than the length of adjacent vertices return the list of found nodes
    if i >= len(list(G.neighbors(node))):
        return res
    # If the current 'walkable' distance is less than 0, increment i and call recursion
    elif current_d <= 0:
        i += 1
        return nodes_in_range_util(node, i, max_d, max_d, res, dist_type)
    # Else we start finding
    
    else:
        neight = list(G.neighbors(node))
        # Get the next node
        next_node = neight[i] #we pick the node
        # Check if we didnt already marked the next node
        if next_node not in res:
            # Get the graph weight
            t1 = (node,next_node) #we try this two node order because library Nx.graph store them in arbitrary way
            t2 = (next_node,node)
            if dist_type=='time':
                try:
                    weight = t_attr[t1]
                except Exception:
                    weight = t_attr[t2]
                    
            elif dist_type=='dist':
                try:
                    weight = d_attr[t1]
                except Exception:
                    weight = d_attr[t2]
                    
            elif dist_type=='net':
                try:
                    weight = n_attr[t1]
                except Exception:
                    weight = n_attr[t2]
            
            # Check if the weight is 'walkable'
            if weight < current_d:
                # Append the node
                res.append(next_node)
                print(res)
                # Call recursion starting from the current node
                i += 1
                return nodes_in_range_util(node, i, max_d, current_d,
                                                nodes_in_range_util(next_node, 0, max_d, current_d - weight, res, dist_type), dist_type)
            else:
                # Call recursion going to the next node
                i += 1
                return nodes_in_range_util(node, i, max_d, current_d, res, dist_type)
        # Increment i if the already marked the next node and proceed
        else:
            i += 1
            return nodes_in_range_util(node, i, max_d, current_d, res, dist_type)

In [32]:
#now we get edges attributes, for each category (time,distance,network)

t_attr = nx.get_edge_attributes(G,'time')
d_attr = nx.get_edge_attributes(G,'dist')
n_attr = nx.get_edge_attributes(G,'net')

#all this variables are dict, as a key there ia a tuple (node1,node2), and the value is the weight of the edge

In [34]:
res = nodes_in_range(1, 10000, 'dist')

[1, 1048577]
[1, 1048577, 1766]
[1, 1048577, 1766, 1049992]
[1, 1048577, 1766, 1049992, 1767]
[1, 1048577, 1766, 1049992, 1767, 1049993]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805, 1050007]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805, 1050007, 1050024]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805, 1050007, 1050024, 2590]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805, 1050007, 1050024, 2590, 1050022]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805, 1050007, 1050024, 2590, 1050022, 1799]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805, 1050007, 1050024, 2590, 1050022, 1799, 1050018]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805, 1050007, 1050024, 2590, 1050022, 1799, 1050018, 1808]
[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805, 1050007, 1050024, 2590, 1050022, 1799, 1050018, 1808, 2589]

In [36]:
print(res)

[1, 1048577, 1766, 1049992, 1767, 1049993, 1803, 1802, 1050020, 1050021, 1805, 1050007, 1050024, 2590, 1050022, 1799, 1050018, 1808, 2589]